<!-- </nav> -->
<nav class="d-none d-lg-block border-top border-bottom">
  <div class="container border-primary-subtle">
    <div class="row">
      <div class="col-md-10">
        <div class="navbar navbar-expand-lg bg-white">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="fs-6 nav-link" href="#!product/all">
                <i class="fa-solid fa-arrow-trend-up"></i>
                Phổ biến</a
              >
            </li>
            <li class="nav-item">
              <a class="fs-6 nav-link" href="#!product/1">
                <i class="fa-solid fa-mobile-screen-button"></i>
                Điện thoại</a
              >
            </li>
            <li class="nav-item">
              <a class="fs-6 nav-link" href="#">
                <i class="fa-solid fa-laptop"></i>
                Máy tính</a
              >
            </li>
            <li class="nav-item">
              <a class="fs-6 nav-link" href="#">
                <i class="fa-solid fa-hat-wizard"></i>
                Phụ kiện</a
              >
            </li>
            <li class="nav-item">
              <a class="fs-6 nav-link" href="#">
                <i class="fa-solid fa-headphones"></i>
                Tai nghe</a
              >
            </li>
            <li class="nav-item">
              <a class="fs-6 nav-link" href="#">
                <i class="fa-regular fa-clock"></i>
                Smart Watch</a
              >
            </li>
            <li class="nav-item">
              <a class="fs-6 nav-link" href="#">
                <i class="fa-solid fa-camera"></i>
                Web Cam</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 d-flex justify-content-end">
        <div class="navbar bg-white">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="fs-6 nav-link" href="#">
                <i class="fa-solid fa-phone-volume"></i>
                0313728397
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<main class="container mt-4">
  <section class="row g-4">
    <div style="min-height: 390px" class="col-lg-6">
      <div class="card w-100 h-100 position-relative border-0">
        <img class="rounded-3 w-100 h-100 object-fit-cover" src="./images/banner/bannerheader1.jpg" alt="Error" />
        <div class="col-6 infomation infomation_lg position-absolute">
          <p class="text-danger fs-5 fw-medium">Mua chỉ với 12,590,000 ₫</p>
          <h2 class="fw-bold mb-3">iPad mini 6 WiFi 64GB</h2>
          <p class="mb-4">iPad mini 6 WiFi 64GB Grey là máy tính bảng tầm trung</p>
          <a href="#!detailproduct/2" class="btn btn-danger shadow btn-lg"
            >Mua ngay <span class="ms-2"><i class="fa-solid fa-arrow-right" style="color: #ffffff"></i></span>
          </a>
        </div>
      </div>
    </div>

    <div style="min-height: 390px" class="col-lg-6">
      <div class="card w-100 h-100 position-relative border-0">
        <img class="rounded-3 w-100 h-100 object-fit-cover" src="./images/banner/bannerheader2.jpg" alt="Error" />
        <div class="col-6 infomation infomation_lg position-absolute">
          <p style="background-color: rgb(255, 214, 18)" class="p-2 text-center rounded-1 fs-5 fw-medium">Mua ngay chỉ với 7,550,000 ₫</p>
          <h2 class="fw-bold mb-3">Oculus Quest 2</h2>
          <p class="mb-4">Sản phẩm đột phá của Meta</p>
          <a href="#!detailproduct/3" class="btn btn-danger shadow btn-lg"
            >Mua ngay <span class="ms-2"><i class="fa-solid fa-arrow-right" style="color: #000000"></i></span>
          </a>
        </div>
      </div>
    </div>

    <div style="min-height: 390px" class="col-lg-3">
      <div class="card w-100 h-100 position-relative border-0">
        <img class="rounded-3 w-100 h-100 object-fit-cover" src="./images/banner/bannerheader3.jpg" alt="Error" />
        <div style="top: 45%; left: 50%; transform: translateX(-50%)" class="text-center col-10 infomation position-absolute">
          <!-- <p class="rounded-2 fw-bold">Hàng mới về</p> -->
          <!-- <span class="fw-medium bg-secondary text-light p-1 fw-bold rounded-2">Hàng mới về</span> -->
          <span class="text-danger fs-6 fw-medium">Hàng mới về</span>

          <h2 class="fs-3 fw-semibold mb-3">Apple Watch Ultra 49MM</h2>
          <a href="#!detailproduct/8" class="btn btn-outline-danger btn-lg shadow">Mua ngay <span class="ms-2"></span> </a>
        </div>
      </div>
    </div>

    <div style="min-height: 390px" class="col-lg-6">
      <div class="card w-100 h-100 position-relative border-0">
        <img class="rounded-3 w-100 h-100 object-fit-cover" src="./images/banner/bannerheader4.jpg" alt="Error" />
        <div style="top: 50%; left: 5%; transform: translateY(-50%)" class="col-6 infomation position-absolute">
          <p style="background-color: #1fc157" class="fw-medium fs-5 w-auto text-center text-white p-2 rounded-2 mb-md-3">Ưu đãi hấp dẫn</p>
          <h2 class="fw-semibold fs-1 mb4">Samsung Galaxy Watch4</h2>
          <p class="mb-sm-4">Top sản phẩm sale tháng 4</p>
          <a href="#!detailproduct/7" class="btn btn-dark btn-lg shadow"
            >Mua ngay <span class="ms-2"><i class="fa-solid fa-arrow-right" style="color: #ffffff"></i></span>
          </a>
        </div>
      </div>
    </div>

    <div style="min-height: 390px" class="col-lg-3">
      <div class="card w-100 h-100 position-relative border-0">
        <img class="rounded-3 w-100 h-100 object-fit-cover" src="./images/banner/bannerheader5.jpg" alt="Error" />
        <div style="top: 58%; left: 50%; transform: translateX(-50%)" class="text-center col-10 infomation position-absolute">
          <!-- <p class="rounded-2 fw-bold">Hàng mới về</p> -->
          <!-- <span class="fw-medium bg-secondary text-light p-1 fw-bold rounded-2">Hàng mới về</span> -->
          <span class="text-danger fs-6 fw-medium">Hàng mới về</span>

          <h2 class="fs-3 fw-semibold mb-3">Máy Ảnh FUJI INSTAX MINI 8</h2>
          <a href="#!detailproduct/9" class="btn btn-outline-warning shadow btn-lg">Mua ngay <span class="ms-2"></span> </a>
        </div>
      </div>
    </div>
  </section>

  <section class="row my-5 polular_categories">
    <div class="col-lg-5 polular_categories__left d-flex align-items-center">
      <div class="polular_categories__left--tittle mb-5">
        <span class="fs-5 text-uppercase text-danger fw-semibold d-block mb-1">DANH MỤC HÀNG ĐẦU</span>
        <h2 class="mb-4 fw-semibold fs-2">Danh mục phổ biến</h2>
        <p class="mb-4 wow animate__fadeInLeft">Các danh mục có số lượng truy cập nhiều nhất.</p>
        <a href="#!product" class="btn btn-danger shadow btn-lg"
          >Khám phá ngay <span class="ms-2"><i class="fa-solid fa-arrow-right" style="color: #ffffff"></i></span>
        </a>
      </div>
    </div>
    <div class="col-lg-7 polular_categories__right">
      <div class="row g-4">
        <div ng-repeat="dsCatalog in dsCatalog | limitTo: 6" class="col-6 col-lg-4 position-relative">
          <!-- <img style="width: 100%; height: 100%; z-index: -5; opacity: 0.1" class="object-fit-contain position-absolute" src="./images/product/iPad10WiFi_3.webp" alt="" /> -->
          <a href="#!product/{{dsCatalog.id}}" class="w-100 btn btn-outline-danger border-0 shadow">
            <span class="rounded-5 bg-secondary-subtle p-3">
              <i class="fa-solid fa-computer-mouse my-4" style="color: #d73333"></i>
            </span>
            <h5 class="fw-medium mb-1 mt-4">{{dsCatalog.name}}</h5>
            <p class="fw-medium">{{getNumberOfCatalog(dsCatalog.id)}}</p>
          </a>
        </div>
        <!-- <div class="col-lg-6 position-relative">
          <img style="width: 100%; height: 100%; z-index: -5; opacity: 0.1" class="object-fit-contain position-absolute top-0" src="./images/product/iphone15-pro-max_2.webp" alt="" />
          <a href="#!product/4" class="w-100 btn btn-outline-danger border-0 shadow">
            <span class="rounded-5 bg-secondary-subtle p-3">
              <i class="fa-solid fa-computer-mouse my-4" style="color: #d73333"></i>
            </span>
            <h5 class="fw-bold mb-1 mt-4">Tai Nghe</h5>
            <p class="fw-medium">2 sản phẩm</p>
          </a>
        </div>
        <div class="col-lg-6 position-relative">
          <img style="width: 100%; height: 100%; z-index: -5; opacity: 0.1" class="object-fit-contain position-absolute top-0" src="./images/product/samsung-watch4_3.webp" alt="" />
          <a href="#" class="w-100 btn btn-outline-danger border-0 shadow">
            <span class="rounded-5 bg-secondary-subtle p-3">
              <i class="fa-solid fa-computer-mouse my-4" style="color: #d73333"></i>
            </span>
            <h5 class="fw-bold mb-1 mt-4">Smart Watch</h5>
            <p class="fw-medium">2 sản phẩm</p>
          </a>
        </div>
        <div class="col-lg-6 position-relative">
          <img style="width: 100%; height: 100%; z-index: -5; opacity: 0.1" class="object-fit-contain position-absolute top-0" src="./images/product/iPad10WiFi_3.webp" alt="" />
          <a href="#" class="w-100 btn btn-outline-danger border-0 shadow">
            <span class="rounded-5 bg-secondary-subtle p-3">
              <i class="fa-solid fa-computer-mouse my-4" style="color: #d73333"></i>
            </span>
            <h6 class="mb-1 mt-4">Chuột điều khiển</h6>
            <p class="">2 sản phẩm</p>
          </a>
        </div> -->
      </div>
    </div>
  </section>

  <section class="row g-3 banner_promosion">
    <div class="col-sm-7 position-relative">
      <div style="top: 50%; left: 5%; transform: translateY(-50%)" class="col-5 section_promosion__content position-absolute">
        <p class="text-center fw-medium text-bg-danger mb-2 p-2 rounded">Khuyến mãi lên đến 60%</p>
        <h2 class="fw-semibold text-white mb-4 fs-1">Sản phẩm công nghệ đa dạng</h2>
        <p class="text-white fw-medium fs-4">30,590,000 ₫ <del class="fs-5 opacity-25">34,990,000 ₫</del></p>
        <a href="#!detailproduct/12" class="btn btn-warning shadow btn-lg"
          >Mua ngay <span class="ms-2"><i class="fa-solid fa-arrow-right" style="color: #000000"></i></span>
        </a>
      </div>
      <img style="height: 500px" class="w-100 border-0 rounded-3 img-thumbnail object-fit-cover" src="./images/banner/bannerheader6.jpg" alt="" />
    </div>
    <div class="col-sm-5 position-relative d-flex justify-content-center align-items-center">
      <div class="text-center section_promosion__content position-absolute">
        <h2 class="text-center fw-medium text-dark mb-5">Tai nghe thịnh hành</h2>

        <a href="#!product" class="btn btn-danger shadow btn-lg"
          >Mua ngay <span class="ms-2"><i class="fa-solid fa-arrow-right" style="color: #ffffff"></i></span>
        </a>
      </div>
      <img style="height: 500px" class="w-100 border-0 rounded-3 img-thumbnail object-fit-cover" src="./images/banner/bannerheader7.jpg" alt="" />
    </div>
  </section>

  <section class="product-trending mt-3">
    <div class="row product-trending__tittle">
      <div class="col-12">
        <p class="fs-5 text-danger">Khuyến mãi lớn</p>
        <h3 class="mb-3 fs-3 fw-semibold">Sản phẩm nổi bật</h3>
      </div>
    </div>
    <div class="row g-4 product-trending__content">
      <div ng-repeat="sp in dssp | orderBy: 'view' | limitTo: 8" class="col-6 col-sm-4 col-lg-3">
        <div class="card card-product position-relative" style="border: 1px solid rgb(229, 229, 229)">
          <span ng-if="sp.reducedPrice" style="top: 1%; left: 2%" class="position-absolute badge rounded-1 p-2 bg-danger"> {{ ((sp.reducedPrice - sp.price) / sp.reducedPrice) * 100 | number: '0'}}% </span>
          <a href="#!detailproduct/{{sp.id}}">
            <img ng-src="./images/product/{{sp.img[0]}}" style="width: 100%; height: 20rem" class="card-product__img card-img-top img-fluid object-fit-contain" alt="..." />
          </a>

          <div class="card-body">
            <p class="card-product_type">{{catalogTypes[sp.id_catalog]}}</p>
            <a
              style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; min-height: 60px"
              href="#!detailproduct/{{sp.id}}"
              class="card-product__tittle fs-5 card-title text-decoration-none fw-medium"
            >
              {{sp.name}}
            </a>
            <p class="card-product__star">
              <i ng-repeat="sdstar in sp.star" class="me-2 fa-solid fa-star" style="color: #ecf000"></i>
              <!-- <i class="fa-solid fa-star" style="color: #bcbec2"></i>
              <i class="fa-solid fa-star" style="color: #bcbec2"></i>
              <i class="fa-solid fa-star" style="color: #bcbec2"></i>
              <i class="fa-solid fa-star" style="color: #bcbec2"></i> -->
            </p>
            <p class="card-product__quantity">Có sẵn: <span style="letter-spacing: 5px; font-weight: 600; font-size: 1.1rem" class="text-danger">{{sp.quantity}}/145</span></p>
            <hr class="border border-danger border-2 opacity-100" />
            <p ng-if="sp.reducedPrice" class="mt-3">
              <span class="card-price fw-medium fs-5">{{sp.reducedPrice | number: '0'}}đ</span> &nbsp;
              <del class="opacity-50">{{sp.price | number: '0'}}đ</del>
            </p>
            <!-- Nếu khg có giảm giá  -->
            <p ng-if="!sp.reducedPrice" class="mt-3"><span class="card-price fw-medium fs-5">{{sp.price | number: '0'}}đ</span> &nbsp;</p>
            <div class="card-product__btn">
              <div class="row g-2">
                <div class="col-6">
                  <!-- <a href="#" class="col-12 btn btn-">Mua</a> -->
                  <button ng-click="buyNow(sp)" type="submit" class="col-12 btn btn-warning">Mua</button>
                </div>
                <div class="col-6">
                  <button ng-click="addCart(sp)" type="submit" class="col-12 btn btn-danger">Thêm</button>
                </div>
                <!-- <a href="#" class="col-6 btn btn-primary">Thêm</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-12 text-center mt-3">
      <a href="#!product/view" class="btn btn-danger shadow btn-lg"
        >Xem tất cả <span class="ms-2"><i class="fa-solid fa-arrow-right" style="color: #ffffff"></i></span>
      </a>
    </div> -->
  </section>
  <section class="product-trending mt-3">
    <div class="row product-trending__tittle">
      <div class="col-12">
        <h2 class="fs-3 mb-3 fw-semibold">Sản phẩm mới</h2>
      </div>
    </div>
    <div class="row g-4 product-trending__content">
      <div ng-repeat="sp in dssp | orderBy: '-id' | limitTo: 8" class="col-6 col-sm-4 col-lg-3">
        <div class="card card-product position-relative" style="border: 1px solid rgb(229, 229, 229)">
          <span ng-if="sp.reducedPrice" style="top: 1%; left: 2%" class="position-absolute badge rounded-1 p-2 bg-danger"> {{ ((sp.reducedPrice - sp.price) / sp.reducedPrice) * 100 | number: '0'}}% </span>
          <a href="#!detailproduct/{{sp.id}}">
            <img ng-src="{{isBase64Image(sp.img[0]) ? sp.img[0] : './images/product/' + sp.img[0]}}" style="width: 100%; height: 20rem" class="card-product__img card-img-top img-fluid object-fit-contain" alt="..." />
          </a>
          <div class="card-body">
            <p class="card-product_type">{{catalogTypes[sp.id_catalog]}}</p>
            <a
              style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; min-height: 60px"
              href="#!detailproduct/{{sp.id}}"
              class="card-product__tittle fs-5 card-title text-decoration-none fw-medium"
            >
              {{sp.name}}
            </a>
            <p class="card-product__star">
              <i ng-repeat="sdstar in sp.star" class="fa-solid fa-star" style="color: #ecf000"></i>
              <!-- <i class="fa-solid fa-star" style="color: #bcbec2"></i>
              <i class="fa-solid fa-star" style="color: #bcbec2"></i>
              <i class="fa-solid fa-star" style="color: #bcbec2"></i>
              <i class="fa-solid fa-star" style="color: #bcbec2"></i> -->
            </p>
            <p class="card-product__quantity">Có sẵn: <span style="letter-spacing: 5px; font-weight: 600; font-size: 1.1rem" class="text-danger">{{sp.quantity}}/145</span></p>
            <hr class="border border-danger border-2 opacity-100" />
            <p ng-if="sp.reducedPrice" class="mt-3">
              <span class="card-price fw-medium fs-5">{{sp.reducedPrice | number: '0'}}đ</span> &nbsp;
              <del class="opacity-50">{{sp.price | number: '0'}}đ</del>
            </p>
            <!-- Nếu khg có giảm giá  -->
            <p ng-if="!sp.reducedPrice" class="mt-3"><span class="card-price fw-medium fs-5">{{sp.price | number: '0'}}đ</span> &nbsp;</p>
            <div class="card-product__btn">
              <div class="row g-2">
                <div class="col-6">
                  <a href="#" class="col-12 btn btn-warning">Mua</a>
                </div>
                <div class="col-6">
                  <!-- <a href="#" class="col-12 btn btn-danger">Thêm</a> -->
                  <button ng-click="addCart(sp)" type="submit" class="col-12 btn btn-danger">Thêm</button>
                </div>
                <!-- <a href="#" class="col-6 btn btn-primary">Thêm</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 text-center mt-3">
      <a href="#!product/all" class="btn btn-danger shadow fs-5"
        >Xem tất cả <span class="ms-2"><i class="fa-solid fa-arrow-right" style="color: #ffffff"></i></span>
      </a>
    </div>
  </section>
  <section class="row banner_promosion bg-light my-5">
    <div class="col-12 position-relative d-flex justify-content-center align-items-center">
      <div class="text-center section_promosion__content position-absolute">
        <h2 class="fw-semibold text-black mb-4 fs-2">Super Friendly Electronics Store</h2>
        <a href="#!product" class="btn btn-dark shadow btn-lg"
          >Mua ngay <span class="ms-2"><i class="fa-solid fa-arrow-right" style="color: #ffffff"></i></span>
        </a>
      </div>
      <img style="height: 15rem" class="w-100 rounded-3 img-thumbnail object-fit-cover border-0" src="./images/banner/banner_side.png" alt="" />
    </div>
  </section>

  <section class="row g-3 product-hot">
    <div class="col-sm-4 position-relative">
      <div style="top: 35%; left: 10%; transform: translateY(-50%)" class="col-10 text-center product-hot__content position-absolute">
        <p class="fw-medium text-warning mb-2 rounded fs-4">Hàng mới về</p>
        <h2 class="fw-semibold text-white mb-4 fs-1">Apple AirPod Max Space Orange</h2>
        <a href="#!product/newProduct" class="btn btn-warning shadow btn-lg"
          >Khám phá ngay <span class="ms-2"><i class="fa-solid fa-arrow-right" style="color: #000000"></i></span>
        </a>
      </div>
      <img class="w-100 h-100 border-0 rounded-3 img-thumbnail object-fit-cover" src="./images/banner/bannerheader8.jpg" alt="" />
    </div>
    <div class="col-lg-8 product-hot__right">
      <div class="row g-4">
        <div class="col-lg-6 product-hot__right-trend">
          <h4 class="mb-4 fw-medium">Sản phẩm đánh giá cao</h4>
          <hr class="border border-secondary-subtle border-1 opacity-25" />

          <a ng-repeat="dsspStar in dssp | orderBy: '-starCount' | limitTo: 3" href="#!detailproduct/{{dsspStar.id}}" style="border: 1px solid rgb(234, 234, 234)" class="text-decoration-none card mb-3">
            <div class="row g-0">
              <div class="col-4 d-flex justify-content-center align-items-center">
                <img ng-src="./images/product/{{dsspStar.img[0]}}" class="w-75 img-fluid p-2" alt="..." />
              </div>
              <div class="col-8">
                <div class="card-body">
                  <h style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis" class="card-title">{{dsspStar.name}}</h>
                  <p class="card-text m-0">
                    <i ng-repeat="dsstar in dsspStar.star" class="fa-solid fa-star" style="color: #f6ff4c"></i>
                    <!-- <i class="fa-solid fa-star" style="color: #bfbfc0"></i> -->
                    <!-- <i class="fa-solid fa-star" style="color: #bfbfc0"></i> -->
                    <!-- <i class="fa-solid fa-star" style="color: #bfbfc0"></i> -->
                    <!-- <i class="fa-solid fa-star" style="color: #bfbfc0"></i> -->
                  </p>
                  <p ng-if="dsspStar.reducedPrice" class="mt-3">
                    <span class="card-price fw-medium fs-5">{{dsspStar.reducedPrice | number: '0'}}đ</span> &nbsp;
                    <del class="opacity-50">{{dsspStar.price | number: '0'}}đ</del>
                  </p>
                  <!-- Nếu khg có giảm giá  -->
                  <p ng-if="!dsspStar.reducedPrice" class="mt-3"><span class="card-price fw-medium fs-5">{{dsspStar.price | number: '0'}}đ</span> &nbsp;</p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-6 product-hot__right-promotion">
          <h4 class="mb-4 fw-medium">Sản phẩm có giảm giá</h4>
          <hr class="border border-secondary-subtle border-1 opacity-25" />

          <a ng-repeat="dsspStar in dssp | hasReducedPrice | orderBy: 'price' | limitTo: 3" href="#!detailproduct/{{dsspStar.id}}" style="border: 1px solid rgb(234, 234, 234)" class="text-decoration-none card mb-3">
            <div class="row g-0">
              <div class="col-4 d-flex justify-content-center align-items-center">
                <img ng-src="./images/product/{{dsspStar.img[0]}}" class="w-75 img-fluid p-2" alt="..." />
              </div>
              <div class="col-8">
                <div class="card-body">
                  <h5 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis" class="card-title">{{dsspStar.name}}</h5>
                  <p class="card-text m-0">
                    <i ng-repeat="dsstar in dsspStar.star" class="fa-solid fa-star" style="color: #f6ff4c"></i>
                    <!-- <i class="fa-solid fa-star" style="color: #bfbfc0"></i> -->
                    <!-- <i class="fa-solid fa-star" style="color: #bfbfc0"></i> -->
                    <!-- <i class="fa-solid fa-star" style="color: #bfbfc0"></i> -->
                    <!-- <i class="fa-solid fa-star" style="color: #bfbfc0"></i> -->
                  </p>
                  <p ng-if="dsspStar.reducedPrice" class="mt-3">
                    <span class="card-price fw-medium fs-5">{{dsspStar.reducedPrice | number: '0'}}đ</span> &nbsp;
                    <del class="opacity-50">{{dsspStar.price | number: '0'}}đ</del>
                  </p>
                  <!-- Nếu khg có giảm giá  -->
                  <p ng-if="!dsspStar.reducedPrice" class="mt-3"><span class="card-price fw-medium fs-5">{{dsspStar.price | number: '0'}}đ</span> &nbsp;</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="product_sponsor">
    <div class="row g-4 mt-3 bg-gradient">
      <div class="col-6 col-sm-3 col-lg-2">
        <img class="w-100 border object-fit-contain p-3" style="height: 70px" src="./images/logo/Bosch_logo.png" alt="Erro img" />
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <img class="w-100 border object-fit-cover p-3" style="height: 70px" src="./images/logo/Flipkart_Logo.png" alt="Erro img" />
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <img class="w-100 border object-fit-contain p-3" style="height: 70px" src="./images/logo/fedex_logo.png" alt="Erro img" />
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <img class="w-100 border object-fit-contain p-3" style="height: 70px" src="./images/logo/Pepsi_logo.png" alt="Erro img" />
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <img class="w-100 border object-fit-contain p-3" style="height: 70px" src="./images/logo/asus_logo.png" alt="Erro img" />
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <img class="w-100 border object-fit-contain p-3" style="height: 70px" src="./images/logo/heineken_logo.png" alt="Erro img" />
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <img class="w-100 border object-fit-contain p-3" style="height: 70px" src="./images/logo/Coca-Cola_logo.png" alt="Erro img" />
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <img class="w-100 border object-fit-contain p-3" style="height: 70px" src="./images/logo/apple_logo.png" alt="Erro img" />
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <img class="w-100 border object-fit-contain p-3" style="height: 70px" src="./images/logo/samsung_logo.png" alt="Erro img" />
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <img class="w-100 border object-fit-contain p-3" style="height: 70px" src="./images/logo/mi_logo.png" alt="Erro img" />
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <img class="w-100 border object-fit-contain p-3" style="height: 70px" src="./images/logo/lg_logo.png" alt="Erro img" />
      </div>
      <div class="col-6 col-sm-3 col-lg-2">
        <img class="w-100 border object-fit-contain p-3" style="height: 70px" src="./images/logo/fpt_logo.png" alt="Erro img" />
      </div>
    </div>
  </section>
</main>
<section class="banner-sale position-relative mt-5">
  <div class="col-6 col-sm-4 banner-sale__content position-absolute" style="top: 50%; right: 0%; transform: translateY(-50%)">
    <span class="fs-5 text-uppercase text-danger fw-semibold d-block mb-1">KHÁM PHÁ MỚI MẺ</span>
    <h2 style="font-size: 3.3rem" class="mb-4 fw-semibold">Tai nghe</h2>
    <p class="mb-4 wow animate__fadeInLeft">Như cầu sử dụng của người dùng tai nghe tăng mạnh trong các năm gần đây</p>
    <a href="#!product/4" class="btn btn-danger shadow btn-lg"
      >Khám phá ngay <span class="ms-2"><i class="fa-solid fa-arrow-right" style="color: #ffffff" aria-hidden="true"></i></span>
    </a>
  </div>
  <img style="height: 650px" class="w-100 object-fit-cover" src="./images/banner/banner_sale.png" alt="" />
</section>
<section class="container-fluid banner-support bg-danger p-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-12 col-sm-3 d-flex justify-content-start align-item-center">
        <i class="fa-solid fa-truck-fast fs-3 text-warning me-3"></i>
        <div class="banner-support__content">
          <h4 class="title text-white">Miễn phí giao hàng</h4>
          <p class="text-white">Từ Đơn Hàng Trên 1,000,000 ₫</p>
        </div>
      </div>
      <div class="col-12 col-sm-3 d-flex justify-content-start align-item-center">
        <i class="fa-solid fa-headphones fs-3 text-warning me-3"></i>
        <div class="banner-support__content">
          <h4 class="title text-white">Hỗ Trợ 24/7</h4>
          <p class="text-white">Nhận Hỗ Trợ Trực Truyến 24/7</p>
        </div>
      </div>
      <div class="col-12 col-sm-3 d-flex justify-content-start align-item-center">
        <i class="fa-solid fa-money-check-dollar fs-3 text-warning me-3"></i>
        <div class="banner-support__content">
          <h4 class="title text-white">Hoàn Tiền</h4>
          <p class="text-white">Hoàn Trả Trong Vòng 15 Ngày</p>
        </div>
      </div>
      <div class="col-12 col-sm-3 d-flex justify-content-start align-item-center">
        <i class="fa-solid fa-gift fs-3 text-warning me-3"></i>
        <div class="banner-support__content">
          <h4 class="title text-white">Mã Quà Tặng</h4>
          <p class="text-white">Nhận Mã Khuyến Mãi</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section_news container mt-5">
  <div class="col-12 mb-4">
    <p class="fs-5 text-danger mb-0">ĐỌC TIN TỨC MỚI NHẤT</p>
    <h2 class="fs-2 fw-semibold">Tin Tức Mới Nhất</h2>
  </div>
  <div class="row g-4">
    <div ng-repeat="listNews in dsNews | orderBy: 'id' | limitTo: 3" class="col-12 col-sm-6 col-lg-4 position-relative">
      <img class="w-100 object-fit-cover rounded-3 rounded-bottom-0" style="height: 300px" ng-src="{{listNews.img}}" alt="" />
      <div class="news__describe p-3 rounded-3 m-0 shadow" style="background-color: #f8f8f8">
        <div class="d-flex justify-content-between">
          <a href="#" class="text-dark text-decoration-none col-4 opacity-75">
            <i class="fa-solid fa-rug opacity-75"></i>
            <!-- Điện tử -->
            {{catalogTypes[listNews.id_catalog]}}
          </a>
          <a href="#" class="text-dark text-decoration-none col-4 opacity-75">
            <i class="fa-regular fa-comment-dots opacity-75"></i>
            Bình luận
          </a>
          <a href="#" class="text-dark text-decoration-none col-4 opacity-75">
            <i class="fa-regular fa-clock opacity-75"></i>
            {{listNews.date}}
          </a>
        </div>

        <a href="#!detailnews/{{listNews.id}}" style="display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden" class="text-decoration-none fs-4 fw-medium text-dark mb-3 title"
          >{{listNews.maintitle}}</a
        >
        <p ng-bind-html="listNews.maintitle | trustHtml" style="font-size: 10px; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden" class="decription-pro fs-6 mb-2">
          <!-- {{listNews.content | trustHtml}} -->
        </p>
        <a href="#!detailnews/{{listNews.id}}" class="btn p-0 fs-5 fw-medium opacity-50 text-start"
          >Đọc ngay
          <span class="ms-2"><i class="fa-solid fa-arrow-right" style="color: #9c9b9b" aria-hidden="true"></i></span>
        </a>
      </div>
    </div>

    <div class="col-12 text-end">
      <a href="#!news/all" class="fs-6 btn btn-lg fw-medium text-bg-dark opacity-50"
        >Xem tất cả<span class="ms-2"><i class="fa-solid fa-arrow-right" style="color: #ffffff" aria-hidden="true"></i></span>
      </a>
    </div>
  </div>
</section>

<section class="news-notification bg-body-secondary mt-5">
  <div class="container">
    <div class="row" style="height: 440px">
      <div class="col-sm-7 news-notification__images d-flex align-items-center">
        <img class="w-100 object-fit-cover" src="https://e-tech.monamedia.net/wp-content/uploads/2023/10/drone-1-1.png" alt="" />
      </div>
      <div class="col-sm-5 news-notification__content d-sm-flex flex-column justify-content-center">
        <h5 class="fs-1 mb-4 fw-semibold">Nhận Mọi Cập Nhật</h5>
        <p class="mb-4 wow animate__fadeInLeft">Become a premium member and get 20% off your next purchase!</p>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">
            <i class="fa-regular fa-envelope"></i>
          </span>
          <input type="text" class="p-3 form-control" placeholder="Nhập email..." aria-label="Username" aria-describedby="basic-addon1" />
        </div>
        <a href="/shop/" class="btn btn-warning btn-lg shadow">Đăng ký ngay <span class="ms-2"></span> </a>
      </div>
    </div>
  </div>
</section>
<!-- <script>
  AOS.init();
</script> -->
