<ul class="navbar-nav sidebar p-3 sidebar-dark accordion text-white" id="accordionSidebar">
  <a class="sidebar-brand d-flex fs-4 fw-bold align-items-center text-decoration-none text-white fs-6" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Admin</div>
  </a>

  <hr class="sidebar-divider" />

  <li class="nav-item mb-1 active">
    <a class="nav-link nav-link__btn-admin text-decoration-none text-white fs-6" href="index.html">
      <i class="fas fa-fw fa-tachometer-alt opacity-50"></i>
      <span class="">Dashboard</span></a
    >
  </li>

  <hr class="sidebar-divider" />

  <div class="sidebar-heading opacity-50">Danh sách</div>

  <li class="nav-item mb-1">
    <a class="nav-link nav-link__btn-admin collapsed fs-6 text-white" href="./sanpham.html">
      <i class="fa-brands fa-product-hunt opacity-25 me-2"></i>
      <span class="">Sản phẩm</span>
    </a>
  </li>

  <li class="nav-item mb-1">
    <a class="nav-link nav-link__btn-admin collapsed fs-6 text-white" href="./danhmuc.html">
      <i class="fa-solid fa-list opacity-25 me-2"></i>
      <span>Danh mục</span>
    </a>
  </li>
  <li class="nav-item mb-1">
    <a class="nav-link nav-link__btn-admin collapsed fs-6 text-white" href="./baiviet.html">
      <i class="fa-solid fa-newspaper opacity-25 me-2"></i>
      <span>Bài viết</span>
    </a>
  </li>

  <hr class="sidebar-divider" />

  <div class="sidebar-heading opacity-50">Thêm sửa</div>

  <li class="nav-item mb-1">
    <a class="nav-link nav-link__btn-admin collapsed fs-6 text-white" href="#!addproduct">
      <i class="fa-solid fa-plus opacity-50 me-2"></i>
      <span class="fw-bold">Thêm sản phẩm</span>
    </a>
  </li>

  <li class="nav-item mb-1">
    <a class="nav-link nav-link__btn-admin collapsed fs-6 text-white" href="./adddanhmuc.html">
      <i class="fa-solid fa-plus opacity-50 me-2"></i>
      <span>Thêm danh mục</span>
    </a>
  </li>

  <li class="nav-item mb-1">
    <a class="nav-link nav-link__btn-admin collapsed fs-6 text-white" href="./addbaiviet.html">
      <i class="fa-solid fa-plus opacity-50 me-2"></i>
      <span>Thêm bài viết</span>
    </a>
  </li>

  <li class="nav-item mb-1">
    <a class="nav-link nav-link__btn-admin collapsed fs-6 text-white" href="#">
      <i class="fa-regular fa-pen-to-square opacity-50 me-2"></i>
      <span>Sửa sản phẩm</span>
    </a>
  </li>

  <li class="nav-item mb-1">
    <a class="nav-link nav-link__btn-admin collapsed fs-6 text-white" href="#">
      <i class="fa-regular fa-pen-to-square opacity-50 me-2"></i>
      <span>Sửa danh mục</span>
    </a>
  </li>

  <li class="nav-item mb-1">
    <a class="nav-link nav-link__btn-admin collapsed fs-6 text-white" href="#">
      <i class="fa-regular fa-pen-to-square opacity-50 me-2"></i>
      <span>Sửa bài viết</span>
    </a>
  </li>

  <!-- <hr class="sidebar-divider d-none d-md-block" /> -->
</ul>
